<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Analysis overview</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 15px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <h1>Running processes:</h1>
    <table>
        <tr>
            <th>File</th>
            <th>library</th>
            <th>id</th>
        </tr>
        {% for process in running_analysis %}
        <tr>
            <td>{{process.file.name}}</td>
            <td>{{process.library}}</td>
            <td>{{process.id}}</td>
        </tr>
        {% endfor %}
    </table>
    
    <h1>Finished processes:</h1>
    <table>
        <tr>
            <th>File</th>
            <th>library</th>
            <th>id</th>
            <th>Results</th>
            <th>Order</th>
        </tr>
        {% for analysis in finished_analysis %}
        <tr>
            <td>{{analysis.process.file.name}}</td>
            <td>{{analysis.process.library}}</td>
            <td>{{analysis.process.id}}</td>
            <td><a href="{% url 'report' analysis.process.id%}">Results</a></td>
            <td><a href="{% url 'order' analysis.process.id%}">Order</a></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>