.context-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  z-index: 10;
}

.feature-model-constraints > div {
  cursor: pointer;
  user-select: none;
}

.context-menu > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.context-menu > ul > li {
  padding: 0.5rem;
  cursor: pointer;
}

.context-menu > ul > .deactivated {
  color: grey;
  cursor: initial;
}

.context-menu > ul > .deactivated:hover {
  background-color: lightgrey;
}

.context-menu > ul > li:hover {
  background-color: lightblue;
}

.context-menu-active {
  display: block;
  transition: all 1s;
  min-width: 200px;
}

.node {
  cursor: pointer;
  vertical-align: middle;
}

.node .is-searched-feature {
  fill: lightcoral;
}

.node rect {
  stroke: #888;
  stroke-width: 1px;
}

.node text {
  fill: black;
  font-family: monospace;
  text-anchor: middle;
}

.and-group-circle {
  stroke: #888;
  stroke-width: 1.5px;
  opacity: 0;
}

.optional-and-group-circle {
  fill: white;
  opacity: 1;
}

.mandatory-and-group-circle {
  fill: rgb(136, 136, 136);
  opacity: 1;
}

.alt-group {
  fill: white;
  stroke: #888;
  stroke-width: 1.5px;
}

.or-group {
  fill: #888;
  stroke: #888;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #888;
  stroke-width: 1.5px;
}

.is-searched-link {
  fill: none;
  stroke: lightcoral;
  stroke-width: 1.5px;
}

.children-count > circle {
  fill: white;
  stroke: #888;
  stroke-width: 1.5px;
}

.pseudo-node {
  cursor: pointer;
  vertical-align: middle;
}

.pseudo-node > circle {
  fill: white;
  stroke: #888;
  stroke-width: 1.5px;
}

.feature-model-constraints {
  position: absolute;
  background-color: white;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 10px 10px #888, 0px -10px 10px #888;
  padding: 2rem;
  min-height: 10%;
  max-height: 20%;
  overflow: scroll;
}

polygon {
  stroke: #888;
}