asgiref==3.4.1
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.1
coverage==6.2
Deprecated==1.2.13
dj-rest-auth==2.2.5
Django==3.2.8
django-allauth==0.51.0
django-cors-headers==3.10.0
django-coverage-plugin==2.0.2
django-environ==0.8.1
django-extensions==3.1.5
django-filter==22.1
django-rest-auth==0.9.5
django-seed==0.3.1
djangorestframework==3.12.4
djangorestframework-simplejwt==5.0.0
docker==6.0.0
Faker==14.2.0
idna==3.3
pycparser==2.21
PyGithub==1.55
PyJWT==2.3.0
PyNaCl==1.5.0
python-dateutil==2.8.2
pytz==2021.3
requests==2.28.1
six==1.16.0
sqlparse==0.4.4
toposort==1.7
urllib3==1.26.12
websocket-client==1.4.1
wrapt==1.14.1
