{% extends "email/email_template.html" %}
    {% block greeting %}Hello {{ user }},{% endblock %}
    {% block upper_text %}To activate your account on DDueruem, please click on the following button:{% endblock %}
    {% block call_to_action_link %}{{ link }}{% endblock %}
    {% block call_to_action_text %}Confirm my email here{% endblock %}
    {% block lower_text %}If clicking the button above doesn't work, you can copy the plain link here: {{ link }}{% endblock %}
    {% block salutation %}Thank you for creating an account.{% endblock %}