{% extends "email/email_template.html" %}
{% block greeting %}Hello {{ user }},{% endblock %}
{% block upper_text %}We noticed you uploaded files. You can now choose to add these files permanently (confirm
    upload) or to delete them now.{% endblock %}
{% block call_to_action_link %}{{ confirm_link }}{% endblock %}
{% block call_to_action_text %}Confirm Upload{% endblock %}
{% block lower_text %}
    If you do not confirm your file upload within <strong>48 hours</strong> the files will be deleted automatically.
    <br />
    Once you confirmed the upload, you <strong>can not delete the files anymore</strong>.
    <br />
    If you want to delete the files and not confirm them <a href="{{ delete_link }}">click here</a>.
    <br />
    If clicking one of the buttons above doesn't work, you can copy the plain links here:
    <ul>
        <li>Confirm link: {{ confirm_link }}</li>
        <li>Delete link: {{ delete_link }}</li>
    </ul>
{% endblock %}
{% block salutation %}Thank you for uploading a file.{% endblock %}
